Repository ProjectOmu/OmuStation, pull requests merged in 2025-09, with the labels that each got.

#78 Comments out Barratry
  Resources/Prototypes/Maps/Pools/default.yml
Labels: size/XS, Changes: No C#, Changes: Map, S: Needs Review, S: Needs Second Approval, S: Needs Head Approval, Priority: Low

#79 Fix harpy emotes
  Resources/Prototypes/_DV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/_DV/Voice/speech_emote_sounds.yml
Labels: size/XS, Changes: No C#, S: Needs Review, S: Needs Second Approval, Priority: Low

#75 Centcomm Labcoat
  Resources/Prototypes/_Omu/Entities/Clothing/Hats/hats.yml
  Resources/Prototypes/_Omu/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/_Omu/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_Omu/Roles/Jobs/CentComm/centralcommand.yml
  Resources/Textures/_Omu/Clothing/Hats/CCberegg.rsi/equipped-HELMET-hamster.png
  Resources/Textures/_Omu/Clothing/Hats/CCberegg.rsi/equipped-HELMET.png
  Resources/Textures/_Omu/Clothing/Hats/CCberegg.rsi/icon.png
  Resources/Textures/_Omu/Clothing/Hats/CCberegg.rsi/inhand-left.png
  Resources/Textures/_Omu/Clothing/Hats/CCberegg.rsi/inhand-right.png
  Resources/Textures/_Omu/Clothing/Hats/CCberegg.rsi/meta.json
  Resources/Textures/_Omu/Clothing/Neck/Mantle/CCOmmantle.rsi/equipped-NECK.png
  Resources/Textures/_Omu/Clothing/Neck/Mantle/CCOmmantle.rsi/icon.png
  Resources/Textures/_Omu/Clothing/Neck/Mantle/CCOmmantle.rsi/inhand-left.png
  Resources/Textures/_Omu/Clothing/Neck/Mantle/CCOmmantle.rsi/inhand-right.png
  Resources/Textures/_Omu/Clothing/Neck/Mantle/CCOmmantle.rsi/meta.json
  Resources/Textures/_Omu/Clothing/OuterClothing/Coats/centcomlabcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Omu/Clothing/OuterClothing/Coats/centcomlabcoat.rsi/icon-open.png
  Resources/Textures/_Omu/Clothing/OuterClothing/Coats/centcomlabcoat.rsi/icon.png
  Resources/Textures/_Omu/Clothing/OuterClothing/Coats/centcomlabcoat.rsi/inhand-left.png
  Resources/Textures/_Omu/Clothing/OuterClothing/Coats/centcomlabcoat.rsi/inhand-right.png
  Resources/Textures/_Omu/Clothing/OuterClothing/Coats/centcomlabcoat.rsi/meta.json
  Resources/Textures/_Omu/Clothing/OuterClothing/Coats/centcomlabcoat.rsi/open-equipped-OUTERCLOTHING.png
Labels: Changes: No C#, Changes: Sprites, size/M, S: Needs Review, S: Needs Second Approval, Priority: Low

#61 Allow turrets to whitelist CC access
  Resources/Prototypes/Entities/Structures/Wallmounts/turret_controls.yml
  Resources/Prototypes/_Omu/Access/centcomm.yml
Labels: size/S, Changes: No C#, S: Needs Review, S: Needs Second Approval, Priority: Medium

#81 Secret+ and Event Weight Changes
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_Goobstation/GameRules/midround.yml
  Resources/Prototypes/_Goobstation/GameRules/secretplus.yml
Labels: size/S, Changes: No C#, S: Needs Second Approval, S: Needs Head Approval, Priority: High, Note: DIDN'T EDIT PR COMMENT AWARD

#93 remove clamp from tajara fur color
  Resources/Prototypes/_Goobstation/Species/tajaran.yml
Labels: size/XS, Changes: No C#, S: Needs Review, S: Needs Second Approval, Priority: Low

#90 Make terminus Oni only, allow it to pry doors again
  Resources/Prototypes/_EinsteinEngines/Entities/Objects/Weapons/Melee/terminus.yml
Labels: size/S, Changes: No C#, S: Needs Review, S: Needs Second Approval

#96 Revert "Update CCVars.Goob.cs"
  Content.Goobstation.Common/CCVar/CCVars.Goob.cs
Labels: S: Untriaged, size/XS

#55 Omustation Server Rules
  Content.Shared/CCVar/CCVars.Server.cs
  Resources/Locale/en-US/_Omu/info/rules.ftl
  Resources/Prototypes/_Omu/Guidebook/rules.yml
  Resources/ServerInfo/_Omu/Guidebook/ServerRules/CoreRules/RuleC0Admins.xml
  Resources/ServerInfo/_Omu/Guidebook/ServerRules/CoreRules/RuleC1Dick.xml
  Resources/ServerInfo/_Omu/Guidebook/ServerRules/CoreRules/RuleC2Metagame.xml
  Resources/ServerInfo/_Omu/Guidebook/ServerRules/CoreRules/RuleC3ICKOCK.xml
  Resources/ServerInfo/_Omu/Guidebook/ServerRules/CoreRules/RuleC4Selfantag.xml
  Resources/ServerInfo/_Omu/Guidebook/ServerRules/CoreRules/RuleC5Bigotry.xml
  Resources/ServerInfo/_Omu/Guidebook/ServerRules/CoreRules/RuleC6NSFW.xml
  Resources/ServerInfo/_Omu/Guidebook/ServerRules/CoreRules/RuleC7English.xml
  Resources/ServerInfo/_Omu/Guidebook/ServerRules/CoreRules/RuleC8Hacker.xml
  Resources/ServerInfo/_Omu/Guidebook/ServerRules/CoreRules/RuleC9SkillIssue.xml
  Resources/ServerInfo/_Omu/Guidebook/ServerRules/CoreRules/RuleRP.xml
  Resources/ServerInfo/_Omu/Guidebook/ServerRules/OmuRules.xml
  Resources/ServerInfo/_Omu/Guidebook/ServerRules/RoleplayRules/RuleR1NoLRP.xml
  Resources/ServerInfo/_Omu/Guidebook/ServerRules/RoleplayRules/RuleR2Escalation.xml
  Resources/ServerInfo/_Omu/Guidebook/ServerRules/RoleplayRules/RuleR3NothingEverHappens.xml
  Resources/ServerInfo/_Omu/Guidebook/ServerRules/RoleplayRules/RuleR4Behaviour.xml
  Resources/ServerInfo/_Omu/Guidebook/ServerRules/RoleplayRules/RuleR5MCSyndrome.xml
  Resources/ServerInfo/_Omu/Guidebook/ServerRules/RoleplayRules/RuleR6Metafriend.xml
  Resources/ServerInfo/_Omu/Guidebook/ServerRules/RoleplayRules/RuleR7SiliconLaws.xml
Labels: size/M, S: Needs Review, Type: Documentation, S: Needs Changes, S: Needs Head Approval, Priority: High, Note: DIDN'T EDIT PR COMMENT AWARD

#97 Wizden Discord Integration Upstream Merge
  Content.Packaging/ServerPackaging.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Managers/IChatManager.cs
  Content.Server/Content.Server.csproj
  Content.Server/Discord/DiscordLink/DiscordChatLink.cs
  Content.Server/Discord/DiscordLink/DiscordLink.cs
  Content.Server/Discord/DiscordLink/DiscordSawmillLogger.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/MoMMI/IMoMMILink.cs
  Content.Server/MoMMI/MoMMILink.cs
  Content.Shared/CCVar/CCVars.Chat.Admin.cs
  Content.Shared/CCVar/CCVars.Chat.Ooc.cs
  Content.Shared/CCVar/CCVars.Discord.cs
  Content.Shared/CCVar/CCVars.Status.cs
  Content.Shared/Chat/ChatChannel.cs
  Directory.Packages.props
  Resources/Locale/en-US/chat/chat-channel.ftl
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
Labels: size/M, S: Needs Review, S: REQUIRES COMMIT MERGE, Note: Upstream, Note: Port

#99 Fix flashes
  Content.Server/Flash/FlashSystem.cs
Labels: Bug: Small, Type: Bugfix

#102 Update Branding on README.md.
  README.md
Labels: size/S, Changes: No C#

#103 Update Dynamic Hostname Replacements
  Resources/Locale/en-US/_Goobstation/datasets/motd.ftl
Labels: size/S, Changes: No C#, S: Needs Review, S: Needs Head Approval, Priority: URGENT!

#42 Remake EE Traits System
  Content.Client/Lobby/LobbyUIController.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Client/_Omu/Lobby/Ui/ConfirmSaveWarningWindow.xaml
  Content.Client/_Omu/Lobby/Ui/ConfirmSaveWarningWindow.xaml.cs
  Content.Client/_Omu/Lobby/Ui/Roles/TraitRequirementsSelector.xaml
  Content.Client/_Omu/Lobby/Ui/Roles/TraitRequirementsSelector.xaml.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Server/_Omu/Traits/TraitFunctions.cs
  Content.Shared/Roles/JobRequirements.cs
  Content.Shared/Strip/Components/ThievingComponent.cs
  Content.Shared/Strip/SharedStrippableSystem.cs
  Content.Shared/Traits/TraitPrototype.cs
  Content.Shared/_Omu/CCVar/CCVars.Traits.cs
  Content.Shared/_Omu/Roles/JobRequirement/WeightRequirement.cs
  Content.Shared/_Omu/Traits/TraitFunction.cs
  Resources/Locale/en-US/_Omu/game-ticking/game-ticker.ftl
  Resources/Locale/en-US/_Omu/job/role-requirements.ftl
  Resources/Locale/en-US/_Omu/lobby/ui/confirm-save-warning-window.ftl
  Resources/Locale/en-US/_Omu/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/en-US/_Omu/traits/traits.ftl
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Traits/categories.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/quirks.yml
  Resources/Prototypes/_DV/Traits/altvision.yml
  Resources/Prototypes/_EinsteinEngines/Traits/categories.yml
  Resources/Prototypes/_Goobstation/Traits/disabilities.yml
  Resources/Prototypes/_Omu/Traits/auditory.yml
  Resources/Prototypes/_Omu/Traits/categories.yml
  Resources/Prototypes/_Omu/Traits/physical.yml
Labels: Type: Enhancement, size/L, S: Needs Review, Changes: UI, S: Needs Head Approval, Priority: URGENT!

#91 Raise Marking Limit and Allow Onis and IPCs to use Gauze Markings
  Resources/Prototypes/Entities/Mobs/Customization/Markings/gauze.yml
  Resources/Prototypes/Nyanotrasen/Species/Oni.yml
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/Species/vox.yml
  Resources/Prototypes/_DV/Species/rodentia.yml
  Resources/Prototypes/_DV/Species/vulpkanin.yml
  Resources/Prototypes/_Goobstation/Species/tajaran.yml
Labels: Changes: No C#, size/M, Priority: Medium, Note: DIDN'T EDIT PR COMMENT AWARD

#116 Replace HEAD tags with empty in station reports
  Content.Goobstation.Server/StationReport/StationReportDiscordIntergrationSystem.cs
Labels: size/S, S: Needs Review, S: Needs Second Approval, Priority: Low

#123 Armor Coverage Doesn't Take Multiple Lines of Space
  Content.Shared/Armor/SharedArmorSystem.cs
Labels: size/S, S: Needs Review

#120 Fix basespecies not having face layer
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/feroxi.yml
Labels: S: Untriaged, size/S, Changes: No C#, S: Needs Second Approval

#137 Glacier derotation(temporary)
  Resources/Prototypes/Maps/Pools/default.yml
Labels: S: Untriaged, size/XS, Changes: No C#, Changes: Map

#140 Normal Slider attempt 2
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/_Omu/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/_Omu/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/_Omu/Objects/Consumable/Food/burger.rsi/gunk.png
  Resources/Textures/_Omu/Objects/Consumable/Food/burger.rsi/meta.json
Labels: size/S, Changes: No C#, Changes: Sprites, S: Approved

#127 noir glasses buff to be identical to sechuds
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
Labels: size/S, Changes: No C#, Note: DIDN'T EDIT PR COMMENT AWARD, S: Approved

#138 Update StationReportDiscordIntergrationSystem.cs
  Content.Goobstation.Server/StationReport/StationReportDiscordIntergrationSystem.cs
Labels: size/XS, S: Needs Review, S: Needs Second Approval

#144 Avoid Discord Webhook character limit for Station Reports
  Content.Goobstation.Server/StationReport/StationReportDiscordIntergrationSystem.cs
Labels: size/S, S: Needs Review, Type: Bugfix, S: Needs Second Approval, Priority: Medium

#152 Update StationReportDiscordIntergrationSystem.cs
  Content.Goobstation.Server/StationReport/StationReportDiscordIntergrationSystem.cs
Labels: S: Untriaged, size/XS

#153 Fix clowns unable to use gun specifically made for clowns
  Resources/Prototypes/_Omu/Entities/Objects/Weapons/Guns/Battery/dislippler.yml
Labels: Changes: No C#

#154 fix [color=#FFaa44] tags in Discord Station Report
  Content.Goobstation.Server/StationReport/StationReportDiscordIntergrationSystem.cs
Labels: S: Untriaged, size/XS

#145 more tools for Aghost Bag
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: Type: Enhancement, size/XS, Changes: No C#, S: Needs Review, S: Needs Second Approval

#157 Change requirements for changeling and heretic to spawn.
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/Heretic/GameRules/roundstart.yml
Labels: size/S, Changes: No C#, S: Needs Review, S: Needs Second Approval, Priority: Medium, Type: Antag Change

#141 Omu Gun Fixits
  Resources/Locale/en-US/_Omu/set-selector/selectable-sets.ftl
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_Omu/Catalog/selectable_sets.yml
  Resources/Prototypes/_Omu/Entities/Objects/Specifics/Security/Security_Selectors.yml
  Resources/Prototypes/_Omu/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Textures/_Omu/Objects/Weapons/Guns/Revolvers/R6.rsi/base.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Revolvers/R6.rsi/off.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Revolvers/R6.rsi/on.png
Labels: size/S, Changes: No C#, Changes: Sprites, S: Needs Review, S: Needs Second Approval
