Repository ProjectOmu/OmuStation, pull requests merged in 2025-08, with the labels that each got.

#10 LABELLER PLEASE I BEG YOU
  .github/workflows/labeler-pr.yml
Labels: S: Untriaged, size/XS

#12 Remove goob patreon
  .github/FUNDING.yml
Labels: size/XS, Changes: No C#

#3 add cyberpunk accent (diggy's pr)
  Resources/Locale/en-US/_NF/traits/traits.ftl
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_NF/Traits/speech.yml
Labels: size/S, Changes: No C#

#15 remove shutupdmg
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/ipc.yml
Labels: S: Untriaged, size/XS, Changes: No C#

#27 Add VC-8, Gunslop
  Resources/Prototypes/_Omu/Entities/Objects/Weapons/Guns/Revolvers/Revolvers.yml
  Resources/Textures/_Omu/Objects/Weapons/Guns/Revolvers/VC-8.rsi/base.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Revolvers/VC-8.rsi/equipped-BELT.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Revolvers/VC-8.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Revolvers/VC-8.rsi/inhand-left.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Revolvers/VC-8.rsi/inhand-right.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Revolvers/VC-8.rsi/meta.json
Labels: S: Untriaged, Changes: No C#, Changes: Sprites

#23 Passenger Disarm Malus Removal
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
Labels: S: Untriaged, size/S, Changes: No C#

#29 [PORT] New Mindshield Sprites from funky (#1231)
  Resources/Textures/Interface/Misc/job_icons.rsi/MindShield.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/_Goobstation/Interface/Misc/security_icons.rsi/MindShield-broken.png
  Resources/Textures/_Goobstation/Interface/Misc/security_icons.rsi/meta.json
Labels: size/S, Changes: No C#, Changes: Sprites, S: Needs Review

#35 BSO headset - Added sec key
  Resources/Prototypes/_Goobstation/Entities/Clothing/Ears/headsets_alt.yml
Labels: S: Untriaged, size/XS, Changes: No C#

#34 Security Duty (A second yamlslop revolver has hit the repo)
  Resources/Prototypes/_Omu/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Textures/_Omu/Objects/Weapons/Guns/Revolvers/T8.rsi/base.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Revolvers/T8.rsi/equipped-BELT.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Revolvers/T8.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Revolvers/T8.rsi/inhand-left.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Revolvers/T8.rsi/inhand-right.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Revolvers/T8.rsi/meta.json
Labels: S: Untriaged, size/S, Changes: No C#, Changes: Sprites, S: Needs Review

#44 Set Up OmuStation Changelog
  Content.Client/Changelog/ChangelogManager.cs
  Resources/Changelog/OmuChangelog.yml
  Resources/Locale/en-US/_Omu/changelog/changelog-window.ftl
  Tools/changelog/changelog.js
Labels: S: Untriaged, size/S

#37 Add Veteran CMO Beret & Splashproof Jacket
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Omu/Entities/Clothing/Hats/hats.yml
  Resources/Prototypes/_Omu/Entities/Clothing/Outerclothing/coats.yml
  Resources/Prototypes/_Omu/Loadouts/Jobs/Medical/chief_medical_officer.yml
  Resources/Textures/_Omu/Clothing/Hats/beret_veteran_cmo.rsi/equipped-HELMET-hamster.png
  Resources/Textures/_Omu/Clothing/Hats/beret_veteran_cmo.rsi/equipped-HELMET.png
  Resources/Textures/_Omu/Clothing/Hats/beret_veteran_cmo.rsi/icon.png
  Resources/Textures/_Omu/Clothing/Hats/beret_veteran_cmo.rsi/inhand-left.png
  Resources/Textures/_Omu/Clothing/Hats/beret_veteran_cmo.rsi/inhand-right.png
  Resources/Textures/_Omu/Clothing/Hats/beret_veteran_cmo.rsi/meta.json
  Resources/Textures/_Omu/Clothing/Outerclothing/Coats/CMOlabcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Omu/Clothing/Outerclothing/Coats/CMOlabcoat.rsi/icon-open.png
  Resources/Textures/_Omu/Clothing/Outerclothing/Coats/CMOlabcoat.rsi/icon.png
  Resources/Textures/_Omu/Clothing/Outerclothing/Coats/CMOlabcoat.rsi/meta.json
  Resources/Textures/_Omu/Clothing/Outerclothing/Coats/CMOlabcoat.rsi/open-equipped-OUTERCLOTHING.png
Labels: Changes: No C#, Changes: Sprites, Changes: Audio, size/M, S: Needs Review

#33 Fix shadowkin's leg being transparent
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Species/shadowkin.yml
Labels: size/XS, Changes: No C#, S: Needs Review, Bug: Small, Type: Bugfix

#39 Allow jetpacks to be worn on suitstorage
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
  Resources/Textures/Objects/Tanks/Jetpacks/black.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/Jetpacks/black.rsi/meta.json
  Resources/Textures/Objects/Tanks/Jetpacks/black.rsi/on-equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/Jetpacks/blue.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/Jetpacks/blue.rsi/meta.json
  Resources/Textures/Objects/Tanks/Jetpacks/blue.rsi/on-equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/Jetpacks/security.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/Jetpacks/security.rsi/meta.json
  Resources/Textures/Objects/Tanks/Jetpacks/security.rsi/on-equipped-SUITSTORAGE.png
Labels: S: Untriaged, Changes: No C#, Changes: Sprites

#41 More emotes for harpy (and fixes some current ones)
  Resources/Prototypes/SoundCollections/harpy.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_DV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_EinsteinEngines/Voice/speech_emotes.yml
Labels: size/S, Changes: No C#, S: Needs Review

#40 Egg coin
  Resources/Locale/en-US/_Goobstation/datasets/figurines.ftl
  Resources/Locale/en-US/_Goobstation/servercurrency/server_currency.ftl
  Resources/Locale/en-US/_Omu/servercurrency/server_currency.ftl
  Resources/Prototypes/_Omu/ServerCurrency/token_listings.yml
Labels: size/S, Changes: No C#, S: Needs Review

#57 CC-557 "Angel" Update 1
  Resources/Maps/_Omu/Shuttles/CC-557.yml
Labels: Changes: No C#, Changes: Map, size/L, S: Needs Review

#66 kill this shit cause it test fails
  Resources/Prototypes/_Nuclear14/Entities/Structures/Furniture/junk.yml
Labels: S: Untriaged, Changes: No C#, size/M

#64 Warden Trenchgun
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Revolver.cs
  Resources/Prototypes/_Omu/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Textures/_Omu/Objects/Weapons/Guns/Revolvers/R6.rsi/base.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Revolvers/R6.rsi/equipped-BACKPACK.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Revolvers/R6.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Revolvers/R6.rsi/inhand-left.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Revolvers/R6.rsi/inhand-right.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Revolvers/R6.rsi/meta.json
  Resources/Textures/_Omu/Objects/Weapons/Guns/Revolvers/R6.rsi/off.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Revolvers/R6.rsi/on.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Revolvers/R6.rsi/wielded-inhand-left.png
  Resources/Textures/_Omu/Objects/Weapons/Guns/Revolvers/R6.rsi/wielded-inhand-right.png
Labels: S: Untriaged, size/S, Changes: Sprites

#68 Fix Invalid Configurators on CC-557
  Resources/Maps/_Omu/Shuttles/CC-557.yml
Labels: size/XS, Changes: No C#, Changes: Map, S: Needs Review

#72 The CC-800X "Archangel"!
  Resources/Maps/_Omu/Shuttles/CC-800X.yml
  Resources/Prototypes/_Omu/Entities/Structures/Shuttles/thrusters.yml
  Resources/Textures/_Omu/Structures/bluespacethruster.rsi/base.png
  Resources/Textures/_Omu/Structures/bluespacethruster.rsi/meta.json
  Resources/Textures/_Omu/Structures/bluespacethruster.rsi/thrust.png
  Resources/Textures/_Omu/Structures/bluespacethruster.rsi/thrust_burn_unshaded.png
Labels: S: Untriaged, Changes: No C#, Changes: Sprites, size/XL, Changes: Map, S: Needs Review, S: Approved
