Repository ProjectOmu/OmuStation, pull requests merged in 2025-10, with the labels that each got.

#161 Add "Photophobia" Trait
  Content.Client/_Omu/Eye/PhotophobiaOverlay.cs
  Content.Client/_Omu/Traits/PhotophobiaSystem.cs
  Content.Server/_Omu/Traits/PhotophobiaSystem.cs
  Content.Shared/_Omu/Item/ItemToggle/Components/ItemToggleCastRayComponent.cs
  Content.Shared/_Omu/Item/ItemToggle/ItemToggleCastRaySystem.cs
  Content.Shared/_Omu/Traits/PhotophobiaComponent.cs
  Content.Shared/_Omu/Traits/SharedPhotophobiaSystem.cs
  Resources/Locale/en-US/_Omu/traits/traits.ftl
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/_Omu/Shaders/shaders.yml
  Resources/Prototypes/_Omu/Traits/visual.yml
  Resources/Textures/_Omu/Shaders/photophobia.swsl
Labels: size/M, S: Needs Review, Changes: Shaders, S: Needs Second Approval, Type: Feature

#128 Unobliterate Thieving
  Content.Client/Inventory/StrippableBoundUserInterface.cs
  Content.Shared/Strip/Components/ThievingComponent.cs
  Content.Shared/Strip/ThievingSystem.cs
  Content.Shared/_Omu/Components/IgnorePocketHidingComponent.cs
  Resources/Locale/en-US/_Omu/traits/traits.ftl
  Resources/Prototypes/_Omu/Traits/physical.yml
Labels: size/S, S: Needs Review, Type: Bugfix, Priority: Medium

#164 Fixed trait-categories with category-specific points instead showing the sum of category-specific points across all categories.
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: size/S, S: Needs Review, Changes: UI, Type: Bugfix, S: Needs Second Approval, Priority: Medium

#166 [Hotfix] Fix trait category-points dictionary trying to assign a value to a key which doesn't exist
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: size/XS, Changes: UI, Bug: Large, Type: Bugfix, Priority: URGENT!

#168 Fix secretplus failing to start
  Content.Goobstation.Server/StationEvents/SecretPlus/SecretPlusSystem.cs
Labels: S: Untriaged, size/XS, Bug: Medium, Type: Bugfix, Priority: High

#126 Silicon-Interfacing HUD (RDxAI real)
  Content.Shared/_Omu/Clothing/ClothingGrantCollectiveMindSystem.cs
  Content.Shared/_Omu/Clothing/Components/ClothingGrantCollectiveMindComponent.cs
  Resources/Locale/en-US/_Omu/objectives/conditions/steal-target-groups.ftl
  Resources/Locale/en-US/_Omu/preferences/loadout-groups.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/_Omu/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_Omu/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_Omu/Loadouts/Jobs/Science/research_director.yml
  Resources/Prototypes/_Omu/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Omu/Objectives/stealTargetGroups.yml
  Resources/Prototypes/_Omu/Objectives/thief.yml
  Resources/Textures/_Omu/Clothing/Eyes/scidiag.rsi/equipped-EYES-arachnid.png
  Resources/Textures/_Omu/Clothing/Eyes/scidiag.rsi/equipped-EYES-moth.png
  Resources/Textures/_Omu/Clothing/Eyes/scidiag.rsi/equipped-EYES.png
  Resources/Textures/_Omu/Clothing/Eyes/scidiag.rsi/icon.png
  Resources/Textures/_Omu/Clothing/Eyes/scidiag.rsi/inhand-left.png
  Resources/Textures/_Omu/Clothing/Eyes/scidiag.rsi/inhand-right.png
  Resources/Textures/_Omu/Clothing/Eyes/scidiag.rsi/meta.json
  Resources/Textures/_Omu/Clothing/Eyes/scidiagglasses.rsi/equipped-EYES-arachnid.png
  Resources/Textures/_Omu/Clothing/Eyes/scidiagglasses.rsi/equipped-EYES-moth.png
  Resources/Textures/_Omu/Clothing/Eyes/scidiagglasses.rsi/equipped-EYES.png
  Resources/Textures/_Omu/Clothing/Eyes/scidiagglasses.rsi/icon.png
  Resources/Textures/_Omu/Clothing/Eyes/scidiagglasses.rsi/inhand-left.png
  Resources/Textures/_Omu/Clothing/Eyes/scidiagglasses.rsi/inhand-right.png
  Resources/Textures/_Omu/Clothing/Eyes/scidiagglasses.rsi/meta.json
Labels: Changes: Sprites, size/M, S: Needs Second Approval, Priority: Medium, Type: Feature
